streamlit
google-generativeai
python-dotenv
langchain
pypdf2
chromadb
faiss-cpu
langchain-google-genai 
pypdf
flask
ctransformers==0.2.5
sentence-transformers==2.2.2
langchain==0.0.225
flask
pypdf
python-dotenv
tiktoken
faiss-cpu
langchain-community
-e.
